*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --first-color:#DC3845;
    --first-color-alt:#D42B39;
    --body-color:#f1e7e7;
    --container-color:#dad4d4;
    --text-color-light:#ffffff;
    --title-color:#282525;
    --text-color:#5D5656;
    --fs-30px:30px;
    --fs-24px:24px;
    --fs-20px:20px;
    --fs-16px:16px;
    --fs-14px:14px;
    --fw-600:600;
    --fw-500:500;
    --fw-400:400;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Amiri", serif;    
    font-weight: var(--fw-400);
    background-color: var(--body-color);
}
body.theme{
    --first-color:#DB4D59;
    --first-color-alt:#D42B39;
    --body-color:#251819;
    --container-color:#2F2223;
    --title-color:#F3F2F2;
    --text-color:#C2BDBD;
}
.container {
    margin: auto;
    width: min(1050px , 100% - 40px);
}
ul{
    list-style: none;
}
a{
    font: inherit;
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid var(--first-color);
    background-color: var(--container-color);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
header .container .logo a{
    font-size: var(--fs-30px);
    font-weight: var(--fw-600);
    color: var(--title-color);
}
header .container nav ul li a{
    display: block;
    font-size: var(--fs-16px);
    font-weight: var(--fw-600);
    color: var(--title-color);
}
header .container nav img{
    width: 20px;
}
@media (max-width:991px) {
    header .container nav ul{
        position: fixed;
        top: 100px;
        left: -100%;
        z-index: 9;
        max-width: 250px;
        width: 60%;
        padding: 15px;
        border-radius: 15px;
        background-color: var(--container-color);
        transition: all 200ms ease;
    }
    header .container nav .menu-icon{
        cursor: pointer;
    }
    header .container nav ul.menu{
        left: 20px;
    }
    header .container nav ul li a{
        display: block;
        margin: 10px;
        text-align: center;
    }
}
@media (min-width:992px) {
    header .container nav .menu-icon{
        display: none;
    }
    header .container nav ul{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    header .container nav .toggle-theme{
        margin-right: 30px;
    }
}